.topcntr{
    height: 60vh;
    width: 100%;
    background-color: blueviolet;
 
    
}
.text{
    background-image: url("https://th.bing.com/th/id/OIP.j6Ol48FPhsDHxQZ1KhDBIQHaEK?rs=1&pid=ImgDetMain");
    background-position: center; 
    background-size: cover;
    
    height: 100%;
    width: 100%;
    
}
.icons{
    color: rgb(25, 200, 244);
    display: flex;
    justify-content: space-around;
    width: 600px; 
    margin: auto;
    

}

.imeges{
    display: flex;
    
    align-items: center;
    width: 60%;
    color: white;
}
.skilicons{
    color: rgba(253, 151, 9, 0.805);
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-bottom: 20px;
    

}
.text h1 {
    color: rgb(244, 244, 245); 
    text-align: center;
    font-size: 60px;
}